extends ./layout/index

block contenido
    main.container.mt-5.py-5
        div.row
            div.col-md-5
                img(src="img/nosotros.jpg", alt="about imge" class="img-fluid")
            div.col-md-7
                h1= pagina
                Blockquote  ipsum dolor sit amet, consectetur adipiscing elit. Nam porta commodo nibh at tempus. Maecenas eleifend placerat ullamcorper. Praesent ornare porta mi nec gravida. Proin vel felis vel metus porttitor maximus vitae sit amet ante. Nullam vestibulum dui a enim egestas accumsan nec nec lorem. Pellentesque dignissim lectus sed nisi consectetur, sit amet tempus orci pharetra. Sed maximus imperdiet diam, in rhoncus ipsum gravida sed. Cras lectus lacus, tempus id lacus ac, aliquam rhoncus magna. Aenean porttitor risus a congue condimentum.

                p Donec id viverra ligula. Curabitur quis elementum est. Mauris sit amet lacus eget est tincidunt euismod ut sed nisl. Vivamus pellentesque mattis purus quis feugiat. Fusce quis congue massa. Morbi tincidunt molestie odio. Aenean ultricies porttitor tortor non hendrerit. Pellentesque a est ut ante facilisis mattis. Sed finibus felis urna, varius auctor eros faucibus eget.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icone_security" class="img-fluid mb-4")
                    h2 Seguridad 
                    p Donec id viverra ligula. Curabitur quis elementum est. Mauris sit amet lacus eget est tincidunt euismod ut sed nisl.

                .col-md-4
                    img(src="img/icono_precio.svg", alt="icone_precio" class="img-fluid mb-4")
                    h2 Mejores Precios
                    p Donec id viverra ligula. Curabitur quis elementum est. Mauris sit amet lacus eget est tincidunt euismod ut sed nisl.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icone_security" class="img-fluid mb-4")
                    h2 Mejores Destinos
                    p Donec id viverra ligula. Curabitur quis elementum est. Mauris sit amet lacus eget est tincidunt euismod ut sed nisl.