footer.container.py-5
    .row 
        .col-md-6
            nav.nav.footer.justify-content-center.justify-content-md-start
                a.nav-link(href="/nosotros") Nosotros
                a.nav-link(href="/viajes") Viales 
                a.nav-link(href="/testimoniales") Testimoniales
        .col-md-6
            p.copyrigth.text-center.text-md-rigth
                |Todos los Derechos Reservados 
                span= actualYears
                 